@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-primary: #171717;
  --font-secondary: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-font-primary: var(--font-primary);
  --color-font-secondary: var(--font-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--font-primary);
  font-family: var(--font-sans), Helvetica, sans-serif;
}

@layer base {
  a {
    text-decoration: underline;
  }
}